@import 'normalize.css';

/** {
  border: 1px solid red;
}*/

body {
  font-family: 'Allerta', sans-serif;
}

h1, h3 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flower-1, .flower-2, .menu li {
  display: inline-block;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle, h3 {
  font-family: 'Montserrat', sans-serif;
}

.header-top {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: 35px;
}

.menu-main {
  display: flex;
  justify-content: space-around;
}

.slider {
  display: flex;
  justify-content: center;
}

.slider picture {
}

.slider img {
}