@import 'normalize.css';

/** {
  border: 1px solid red;
}*/

body {
  font-family: 'Allerta', sans-serif;
}

h1, h3 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flower-1, .flower-2, .menu li {
  display: inline-block;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle, h3 {
  font-family: 'Montserrat', sans-serif;
}

.header-top {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-main {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0 20px;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slider-left {
  margin-right: 5px;
}

.slider-right {
  margin-left: 5px;
}

.slider picture {
}

.slider img {
}